body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: navy;
    color: white;
    padding: 1em 0;
    text-align: center;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid lightblue; 
}
h1, h2 {
    color: navy;
}
.project {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.project:last-child {
    border-bottom: none;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

/* Video alanı stil ayarları */
.video {
    margin-top: 40px;
    text-align: center;
}

iframe {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
